<mat-toolbar color="primary">
  <span>Teacher appointment </span>
  <span class="example-spacer"></span>
  <!--<button mat-raised-button (click)="openAddEditAppointmentForm()">
    ADD appointment
  </button>-->
  <button mat-raised-button (click)="openCalendarForm()">
    calendar
  </button>
</mat-toolbar>



<div class="main-body responsive-grid"> 
  
    <!-- Boucle sur chaque rendez-vous pour créer une carte -->
    <mat-card *ngFor="let appointment of filteredAppointments">
      <mat-card-header>
        <mat-card-title>{{ appointment.description }}</mat-card-title>
        <mat-card-subtitle>{{ appointment.start | date: 'EEE, MMM d, y, h:mm a':'UTC' }}</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <p>End: {{ appointment.end | date: 'EEE, MMM d, y, h:mm a':'UTC' }}</p>
        <p>Status: {{ appointment.status }}</p>
        <p>Appointment Type: {{ appointment.appointmentType }}</p>
        <p>Student: {{ appointment.studentId }}</p>
        <p>Professor ID: {{ appointment.professorId }}</p>
        <p>Location: {{ appointment.location?.bloc }}  -> {{appointment.location?.salle}}</p>
      </mat-card-content>
      <mat-card-actions>
        <!-- Boutons d'action pour chaque rendez-vous -->
        <button mat-button color="primary" (click)="acceptAppointment(appointment)"><mat-icon>check_circle</mat-icon></button>
        <button mat-button color="warn" (click)="refuseAppointment(appointment)"> <mat-icon>cancel</mat-icon></button>
      </mat-card-actions>
    </mat-card>
  
</div>
