<body>
    <section>
      <div class="appcontentfront">
        <h1 class="anim" style="text-align: center;color: black;">Your concerns, Our priority</h1>
        <p style="text-align: center;color: black;">This application is dedicated to students, offering them a space to voice complaints or submit requests freely.
        </p>

      </div>
     
      <div class="feature-img" style="text-align: center;">
        <img src="assets/img/page.jpg" width="1400px" height="650px">
      </div>
    </section>
    <br>
    <br>
    <br>
    <section class="section">
      <div class="additional-content" style="margin-top: 10px;">
        <h2 style="margin-left: 10px;color: black;">Toutes les informations</h2>
      </div>
    </section>
  </body>
  