<h2>Liste des questions</h2>
<table  style="margin-top: 10px;"   class="table">
    <thead>
      <tr>
       
        <th scope="col">question</th>
      
      </tr>
    </thead>
    <tbody>
      <tr>
      
        <td>question 1</td>
      
      </tr>
      <tr>
   
        <td>question 2</td>
       
      </tr>
      <tr>
     
        <td>question 3</td>
    
      </tr>
    </tbody>
  </table>


<h2>Liste des réponses</h2>
  <table  style="margin-top: 30px;"   class="table">
    <thead>
      <tr>
       
        <th scope="col">réponse</th>
        <th scope="col">correcte?</th>
     
      </tr>
    </thead>
    <tbody>
      <tr>
      
        <td>réponse 1</td>
        <td>true</td>
   
      </tr>
      <tr>
   
        <td>réponse 2</td>
        <td>false</td>
  
      </tr>
      <tr>
     
        <td>réponse 3</td>
        <td>false</td>
    
      </tr>
    </tbody>
  </table>