<div class="card card-w-title">
  <p-breadcrumb [model]="breadcrumbItems" [home]="{icon: 'pi pi-home'}"></p-breadcrumb>
</div>

<div class="card">
  <h3>Liste des questions et réponses</h3>

  <p-toolbar styleClass="mb-4">
      <ng-template pTemplate="left">
          <div class="my-2">
            <button pButton pRipple label="Liste des quizzes" icon="pi pi-plus" class="p-button-info mr-2"
            routerLink="/quiz/list-quiz"></button>
          </div>
      </ng-template>
  </p-toolbar>

  <table class="table">
    <thead>
      <tr>
        <th>Question</th>
        <th>Réponses</th>
      
     
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <ng-container *ngFor="let question of questions">
        <tr>
          <td>{{ question.questiontxt }}</td>
          <td>
            <ul>
              <li *ngFor="let answer of question.answers">
                <span>{{ answer.answerTxt }}</span>
              </li>
            </ul>
          </td>
          
       

          <td style="min-width: 150px;">
            <a [routerLink]="['/quiz/update-question/update', quiz?.quizId, question.id]">
              <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success mr-2">
                <i class="fa fa-edit"></i>
              </button>
            </a>

            <td>
              <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning" (click)="deleteQuestion(question.id)">
                <i class="fa fa-trash"></i>
              </button>
            </td>
        </tr>
      </ng-container>
    </tbody>
  </table>

 <!-- Paginator -->
 <!-- Paginator -->
 <div class="card flex justify-content-center">
  <p-paginator (onPageChange)="onPageChange($event)" [rows]="rows" [totalRecords]="totalRecords"
    [rowsPerPageOptions]="[5]">
  </p-paginator>
</div>
  
</div>
