<nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

    <!-- Sidebar Toggle (Topbar) -->
    <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
        <i class="fa fa-bars"></i>
    </button>

    <!-- Topbar Search -->

   

    <!-- Topbar Navbar -->
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">
                <img src="/assets/img/swifthub.png" alt="Logo" style="height: 120px; width: auto;"> 
               
            </a>
            
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link active" style="color: grey;"  aria-current="page" routerLink="/home">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" style="color: grey;"  href="#">Requests</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" style="color: grey;"  href="#">Posts</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" style="color: grey;"  href="#">Appointments</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" style="color: grey;"  href="#">Quiz</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" style="color: grey;"  href="#">Workshops</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
      <form
    
      class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
      <div class="input-group">
          <input type="text" class="form-control bg-light border-0 small" placeholder="Search for..."
              aria-label="Search" aria-describedby="basic-addon2">
          <div class="input-group-append" >
            <button class="btn" style="background-color: #caa28c; border-color: #caa28c;" type="button">
                <i  style="color: black;"  class="fas fa-search fa-sm"></i>
            </button>
          </div>
      </div>
  </form>
    <ul class="navbar-nav ml-auto">

        <!-- Nav Item - Search Dropdown (Visible Only XS) -->
        <li class="nav-item dropdown no-arrow d-sm-none">
            <a class="nav-link dropdown-toggle" href="#" id="searchDropdown" role="button"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-search fa-fw"></i>
            </a>
            <!-- Dropdown - Messages -->
            <div class="dropdown-menu dropdown-menu-right p-3 shadow animated--grow-in"
                aria-labelledby="searchDropdown">
                <form class="form-inline mr-auto w-100 navbar-search">
                    <div class="input-group">
                        <input type="text" class="form-control bg-light border-0 small"
                            placeholder="Search for..." aria-label="Search"
                            aria-describedby="basic-addon2">
                        <div class="input-group-append">
                            <button class="btn btn-primary" type="button">
                                <i class="fas fa-search fa-sm"></i>
                            </button>
                        </div>
                    </div>
                
                </form>
                
 
            </div>
            
  
        </li>

        <li class="btn-wrapper">
            <a routerLink="/register" class="btn custom-btn"
               onmouseout="this.style.background='linear-gradient(45deg, #504032, #504032)'"
               onmouseover="this.style.background='linear-gradient(45deg, #caa28c, #caa28c)'"
               style="display: inline-block;
                      text-decoration: none;
                      padding: 10px 20px;
                      margin-right: 4pt;
                      color: #fff;
                      background: linear-gradient(45deg, #504032, #504032);
                      font-size: 15px;
                      border-radius: 10px;
                      border-top-right-radius: -1;">
                Register
            </a>
        </li>
        <li class="btn-wrapper">
            <a routerLink="/register" class="btn custom-btn"
               onmouseout="this.style.background='linear-gradient(45deg, #caa28c, #caa28c)'"
               onmouseover="this.style.background='linear-gradient(45deg, #765746, #765746)'"
               style="display: inline-block;
                      text-decoration: none;
                      padding: 10px 20px;
                      color: #fff;
                      background: linear-gradient(45deg, #caa28c, #caa28c);
                      font-size: 15px;
                      border-radius: 10px;
                      border-top-right-radius: -1;">
                Login
            </a>
        </li>
        
        
    </ul>

</nav>