.custom-btn {
    background-color: #caa28c;
  }
.custom-btn{
    border: #caa28c;
}  
.custom-post-container {
    background-color: #caa28c;
  }
  .bg-caa28c {
    background-color: #caa28c;
  }
  .custom-button-background {
    background-color: black;
  }
  