<section>
  <div class="container">
    <div class="card flex justify-content-center">
      <form [formGroup]="formGroup" (ngSubmit)="searchPosts()">
        <label for="integer" class="font-bold block mb-2">Search</label>
        <input pInputText id="integer" pKeyFilter="int" formControlName="value" />
      </form>
    </div>
   
    <div class="row">
      <div class="col-md-6">
        <button class="btn btn-details" style="margin-left: 10px;" (click)="toggleFormVisibility()">Add Post</button> <!-- Bouton "Add Post" -->
        
        <!-- Formulaire sous forme de carte -->
        <div *ngIf="showForm" class="card mb-3">
          <div class="card-body">
            <form (ngSubmit)="onSubmit()" enctype="multipart/form-data">
              <div class="form-group">
                <label for="title">Title:</label>
                <input type="text" id="title" name="title"  pInputText [(ngModel)]="formData.title" required>
              </div>
              <!-- Ajoutez un espace vertical entre les champs -->
              <div style="margin-bottom: 10px;"></div>
              <div class="form-group">
                <label for="description">Description:</label>
                <input id="description" name="description" pInputText [(ngModel)]="formData.description" required>

              </div>
              <button type="submit" class="btn btn-edit"><i class="pi pi-check" style="font-size: 1rem"></i>
              </button>
              <button type="button" style="margin-left: 370px;" (click)="cancelAdd()" class="btn btn-edit"><i class="pi pi-times" style="font-size: 1rem"></i>
              </button>
            </form>
          </div>
        </div>
        
        


        <div class="container">
  <div class="row">
    <div class="col-md-10 offset-md-2">
      <ng-container *ngFor="let post of posts">
        <div *ngIf="post.visibility === 1" class="card mb-3">
          <div class="card-header d-flex justify-content-between">
            <i class="pi pi-user" style="color: #708090">  |
                <span>{{ post.idUser }}</span>
            </i>
          </div>
          
          <div class="card-body">
            <div>
              <span> {{ post.postDate | date: 'dd/MM/yyyy' }}</span>
              <button class="btn btn-details" style="margin-left: 200px;" (click)="showPostDetails(post.id)"><i class="pi pi-search" style="color: 'var(--primary-color)'"></i>
              </button>
            </div>
            <h2 class="card-title">{{ post.title }}</h2>
            <p class="card-text" *ngIf="post.description">Description: {{ post.description.split(' ').slice(0, 10).join(' ') }}...</p>
            <!-- Affichage conditionnel des boutons Edit et Delete -->
            <button *ngIf="LoggedInUser && LoggedInUser.username === post.idUser" class="btn btn-edit" (click)="editPost(post)">Edit</button>
            <button *ngIf="LoggedInUser && LoggedInUser.username === post.idUser" class="btn btn-danger btn-small" style="margin-left: 230px;" (click)="deletePost(post.id)">
              <span class="pi pi-times"></span> 
            </button>
          </div>
        </div>
      </ng-container>
    </div>
  </div>
</div>

        
 
        
      </div>
      <div class="col-md-6">
        <!-- Formulaire d'édition -->
        <div *ngIf="showEditForm && editingPost" class="mb-3">
          <form (ngSubmit)="updatePost(editingPost)" enctype="multipart/form-data">
            <div>
              <label for="editIdUser">ID User:</label>
              <input type="text" id="editIdUser" name="editIdUser" [(ngModel)]="editingPost.idUser" required>
            </div>
            <div>
              <label for="editTitle">Title:</label>
              <input type="text" id="editTitle" name="editTitle" [(ngModel)]="editingPost.title" required>
            </div>
            <div>
              <label for="editDescription">Description:</label>
              <textarea id="editDescription" name="editDescription" [(ngModel)]="editingPost.description" required></textarea>
            </div>
            <button type="submit" class="btn btn-edit"><i class="pi pi-check" style="font-size: 1rem"></i></button>
            <span style="margin-right: 50px;"></span>
            <button type="button" (click)="cancelEdit()" class="btn btn-edit"><i class="pi pi-times" style="font-size: 1rem"></i></button>
            </form>
        </div>

        <!-- Détails du post -->
        <app-post-details *ngIf="selectedPostId" [postId]="selectedPostId"></app-post-details>
      </div>
    </div>
  </div>
</section>
<p-toast></p-toast>

