<section>
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <button class="btn btn-primary mb-3" (click)="toggleFormVisibility()">Add Post</button> <!-- Bouton "Add Post" -->
        <div *ngIf="showForm">
          <form (ngSubmit)="onSubmit()" enctype="multipart/form-data">
            <div>
              <label for="idUser">ID User:</label>
              <input type="text" id="idUser" name="idUser" [(ngModel)]="formData.idUser" required>
            </div>
            <div>
              <label for="title">Title:</label>
              <input type="text" id="title" name="title" [(ngModel)]="formData.title" required>
            </div>
            <div>
              <label for="description">Description:</label>
              <textarea id="description" name="description" [(ngModel)]="formData.description" required></textarea>
            </div>
            <div>
              <label for="attachment">Attachment:</label>
              <input type="file" id="attachment" name="attachment" (change)="onFileSelected($event)">
            </div>
            <button type="submit">Submit</button>
            <button type="button" (click)="cancelAdd()">Cancel</button>
          </form>
        </div>
        <h1>POSTS</h1>
        <div *ngFor="let post of posts" class="post-item border border-danger p-3 mb-3 bg-caa28c text-white">
          <div class="post-header d-flex justify-content-end">
            <button class="btn btn-warning custom-btn custom-button-background" style="background-color: #504032;" (click)="showPostDetails(post.id)">Details</button>
          </div>
          <div class="post-content">
            <h4>{{ post.idUser }} <span>({{ post.postDate | date: 'dd/MM/yyyy' }})</span></h4>
            <h4>Title: {{ post.title }}</h4>
            <p *ngIf="post.description">Description: {{ post.description.split(' ').slice(0, 10).join(' ') }}...</p>
          </div>
          <div class="post-footer">
            <button class="btn btn-primary" style="background-color: rgb(222, 195, 146)" (click)="editPost(post) ">Edit</button>
            <span style="margin-right: 400px;"></span>
            <button class="btn btn-danger" style="background-color: #d0541b;" (click)="deletePost(post.id)">Delete</button>
          </div>
        </div>
        
        
        
        
      </div>
      <div class="col-md-6">
        <!-- Formulaire d'édition -->
        <div *ngIf="showEditForm && editingPost" class="mb-3">
          <form (ngSubmit)="updatePost(editingPost)" enctype="multipart/form-data">
            <div>
              <label for="editIdUser">ID User:</label>
              <input type="text" id="editIdUser" name="editIdUser" [(ngModel)]="editingPost.idUser" required>
            </div>
            <div>
              <label for="editTitle">Title:</label>
              <input type="text" id="editTitle" name="editTitle" [(ngModel)]="editingPost.title" required>
            </div>
            <div>
              <label for="editDescription">Description:</label>
              <textarea id="editDescription" name="editDescription" [(ngModel)]="editingPost.description" required></textarea>
            </div>
            <div>
              <label for="editAttachment">Attachment:</label>
              <input type="file" id="editAttachment" name="editAttachment" (change)="onEditFileSelected($event)">
            </div>
            <button type="submit">Update</button>
            <button type="button" (click)="cancelEdit()">Cancel</button>
          </form>
        </div>

        <!-- Détails du post -->
        <app-post-details *ngIf="selectedPostId" [postId]="selectedPostId"></app-post-details>
      </div>
    </div>
  </div>
</section>
