.custom-button {
    width: 120px; /* Largeur personnalisée */
    height: 40px; /* Hauteur personnalisée */
    font-size: 16px; /* Taille de la police personnalisée */
}
.p-button-success{
    background-color: #B88989;
    border-color: #B88989;

}
.p-button-warning{
    background-color: #CAA28C;
    border-color: #CAA28C;

}