<!-- Right side: Feedbacks -->
<div class="col-md-6">
  <!-- Feedbacks card -->
  <div class="card" style="max-height: 670px; width: 557.6px;">
    <div class="card-header sticky-top" style="box-shadow: 0 2px 4px rgba(0,0,0,0.1);">
     {{workshop.title}} Feedbacks
    </div>
    <div class="card-body" style="overflow-y: auto;">
      <!-- Feedback items -->
      <div class="list-group">
        
        <!-- Feedback item -->
        <div class="list-group-item shadow-sm rounded mb-3" *ngFor="let feedback of feedbacks">
          <!-- Star rating -->
           <!-- Creation date -->
           <div class="text-right" style="color: #6c757d; font-size: 12px;">
            {{ feedback.creationDate | date: 'medium' }}
          </div>
         
          <div *ngIf="feedback.rating.toString() == 'Great'">
            <img src="/assets/img/star-fill.svg" alt="Star" style="width: 20px;">
            <img src="/assets/img/star-fill.svg" alt="Star" style="width: 20px;">
            <img src="/assets/img/star-fill.svg" alt="Star" style="width: 20px;">
            <img src="/assets/img/star-fill.svg" alt="Star" style="width: 20px;">
          </div>
          <div *ngIf="feedback.rating.toString() == 'Good'">
            <img src="/assets/img/star-fill.svg" alt="Star" style="width: 20px;">
            <img src="/assets/img/star-fill.svg" alt="Star" style="width: 20px;">
            <img src="/assets/img/star-fill.svg" alt="Star" style="width: 20px;">
          </div>  
          <div *ngIf="feedback.rating.toString() == 'Neutral'">
            <img src="/assets/img/star-fill.svg" alt="Star" style="width: 20px;">
            <img src="/assets/img/star-fill.svg" alt="Star" style="width: 20px;">
          </div>  
          <div *ngIf="feedback.rating.toString() == 'Bad'">
            <img src="/assets/img/star-fill.svg" alt="Star" style="width: 20px;">
          </div>      
          <br>
         
          <!-- Username and feedback content on the right -->
          <div class="d-flex justify-content-between align-items-center">
            <div>
              <div *ngFor="let user of users">
              <div *ngIf="user.id == feedback.userId">
                <h5 class="mb-1 " style="color: #c8935e">{{user.username}}</h5>
              </div>
              </div>
              
              <p class="mb-1">{{feedback.description}}</p>
            </div>
          </div>
        </div>
        <!-- Add more feedback items as needed -->
      </div>
    </div>
  </div>
</div>