<div class="container-fluid">
    <div class="card" id="fullscreen-card"  >
      <div class="d-flex justify-content-between p-3">
        <div class="image">
          <img src="/assets/img/quiz.png" width="100" alt="logo">
        </div>
        <div class="quiz-header">
          <h4 style="font-family: cursive;">{{ quiz?.quizName }}</h4>
          <span style="font-style: italic;">Welcome {{ name }}</span>
        </div>
      </div>
  
      <ng-container *ngIf="quiz">
        <div class="d-flex justify-content-around py-3">
          <div class="score">
            <h5>{{ points }} Points</h5>
          </div>
          <div class="question-remain">
            <span style="font-style: italic;">Question {{ currentQuestion + 1 }} of {{ quiz.questions.length }}</span>
          </div>
          <div class="timer">
            <h5>{{ counter }} sec ⏱</h5>
          </div>
        </div>
        <div class="progress mb-3">
          <div class="progress-bar progress-bar-striped bg-success" role="progressbar" [style.width.%]="progress"
            aria-valuemin="0" aria-valuemax="100"></div>
        </div>
  
        <div class="question">
          <div class="card">
            <h3>{{ quiz.questions[currentQuestion]?.questiontxt }}</h3>
          </div>
        </div>
  
        <div class="options">
          <ul>
            <li *ngFor="let answer of quiz.questions[currentQuestion]?.answers">
              <div class="card">
                <label>
                  <input type="radio" name="answer" (click)="selectAnswer(answer)"
                    [disabled]="isQuizCompleted || answer.answered">
                  {{ answer.answerTxt }}
                  <span *ngIf="answer.answered"> ({{ answer.point }} Points)</span>
                </label>
              </div>
            </li>
          </ul>
        </div>
        <div class="d-flex justify-content-between">
          <button [disabled]="isPreviousDisabled()" class="btn" (click)="previousQuestion()"><i
              class="fa text-primary fa-chevron-left fa-3x" aria-hidden="true"></i></button>
  
          <button class="btn" (click)="nextQuestion()"><i class="fa text-primary fa-chevron-right fa-3x"
              aria-hidden="true"></i></button>
        </div>
      </ng-container>
  
      <ng-container *ngIf="isQuizCompleted &&  points >= 8 ">
        <div class="row d-flex justify-content-between">
          <img style="width: 10%;" class="img-fluid col-sm-5 mx-auto" src="/assets/img/happy.png" alt="">
          <div class="result text-center col-md-6 col-sm-12">
            <h3>Congratulations!! <br>You have completed the quiz. <br>Below is your result:</h3>
            <p>Total Question Attempted : {{questionList.length}} </p>
            <p>Total Correct Answered : {{correctAnswer}} </p>
            <p>Total Wrong Answered : {{inCorrectAnswer}} </p>
            <p>Your Score : {{ totalScore }} Points </p>
            <p>Maximum Possible Points: {{ maxPossiblePoints }}</p>
            <p *ngIf="points === maxPossiblePoints">You achieved the maximum possible score!</p>
            <button class="btn btn-primary mt-3" (click)="onDownloadCertificateClick()">Download Certificate</button>
          </div>
        </div>
      </ng-container>
      
      <ng-container *ngIf="isQuizCompleted && points < 8">
        <div class="row d-flex justify-content-between">
          <img style="width: 10%;" class="img-fluid col-sm-5 mx-auto" src="/assets/img/sad.png" alt="">
          <div class="result text-center col-md-6 col-sm-12">
            <h3>Oops! Looks like you didn't score enough points. <br>Below is your result:</h3>
            <p>Total Question Attempted : {{questionList.length}} </p>
            <p>Total Correct Answered : {{correctAnswer}} </p>
            <p>Total Wrong Answered : {{inCorrectAnswer}} </p>
            <p>Your Score : {{ totalScore }} Points </p>
            <p>Maximum Possible Points: {{ maxPossiblePoints }}</p>
          </div>
        </div>
      </ng-container>
      
     
    </div>

  </div>
  