<div class="d-flex justify-content-center">
    <div class="card justify-content-center">
        <h5>Quiz</h5>
        <p-panel  header="Header" [toggleable]="true" class="line-height-3 m-0 p-mx-auto" style="width: 80%">
        
This area is only for students who attended our workshops. We want to see how much they've learned from our fun sessions by testing their knowledge with quizzes.
            
        </p-panel>
        <div class="name col-md-4 my-3">
            <label for="">Entrez votre nom:</label>
            <input #name type="text" class="form-control">
        </div>
        
        <div style="margin-top: 1%;" >
            <button    pButton pRipple type="button" label="Start quiz" class="p-button-raised p-button-help m-auto"  routerLink="/home/question"    (click)="startQuiz()"></button>
        </div>
        
    </div>
</div>
