<div class="surface-ground flex align-items-center justify-content-center min-h-screen min-w-screen overflow-hidden"
     *ngIf="!authenticationResponse.mfaEnabled">
  <div class="flex flex-column align-items-center justify-content-center">
    <div style="border-radius:56px; padding:0.3rem; background: linear-gradient(180deg, var(--primary-color) 10%, rgba(33, 150, 243, 0) 30%);">
      <div class="w-full surface-card py-8 px-5 sm:px-8" style="border-radius:53px">
        <div class="text-center mb-5">
          <img src="../../../../assets/layout/images/loginn.png" alt="Image" height="50" class="mb-3">
          <div class="success-message-panel" *ngIf="message">
            <div class="success-icon">&#10004;</div>
            <div class="success-message">{{message}}</div>
          </div>
          <div class="text-900 text-3xl font-medium mb-3">Register </div>
        </div>
        <form (ngSubmit)="registerUser()">
          <div>
            <div class="form-group">
              <label for="username" class="block text-900 text-xl font-medium mb-2">Username</label>
              <input id="username" name="username" required type="text"
                      [(ngModel)]="registerRequest.username"
                     class="w-full md:w-72 mb-3" style="padding:0.7rem">
            </div>
            <div class="form-group">
              <label for="password" class="block text-900 font-medium text-xl mb-2">Password</label>
              <input id="password" name="password" required type="password"
                     [(ngModel)]="registerRequest.password"
                     class="w-full md:w-72 mb-3" style="padding:0.7rem">
            </div>
            <div class="form-group">
              <label for="email" class="block text-900 text-xl font-medium mb-2">Email</label>
              <input id="email" name="email" required type="text"
                     [(ngModel)]="registerRequest.email"
                     class="w-full md:w-72 mb-3" style="padding:0.7rem">
            </div>
            <div class="form-group">
              <label for="className" class="block text-900 text-xl font-medium mb-2">Class Name</label>
              <input id="className" name="className" type="text"
                     [(ngModel)]="registerRequest.className"
                     class="w-full md:w-72 mb-3" style="padding:0.7rem">
            </div>
            <div class="form-group">
              <label for="department" class="block text-900 text-xl font-medium mb-2">Department</label>
              <input id="department" name="department" type="text"
                     [(ngModel)]="registerRequest.department"
                     class="w-full md:w-72 mb-3" style="padding:0.7rem">
            </div>
            <div class="form-group">
              <label for="managedService" class="block text-900 text-xl font-medium mb-2">Managed Service</label>
              <input id="managedService" name="managedService" type="text"
                     [(ngModel)]="registerRequest.managedService"
                     class="w-full md:w-72 mb-3" style="padding:0.7rem">
            </div>
            <div class="form-group">
              <label for="role" class="block text-900 text-xl font-medium mb-2">Role</label>
              <select id="role" name="role" class="w-full md:w-72 mb-3" style="padding:0.7rem" [(ngModel)]="registerRequest.role">
                <option *ngFor="let role of roles" [value]="role">{{ role }}</option>
              </select>
            </div>
            <div class="form-group">
              <input id="rememberMe" name="rememberMe" type="checkbox"
                     [(ngModel)]="registerRequest.mfaEnabled"
                     class="mb-3">
              <div class="success-message-panel" *ngIf="message">
                <div class="success-icon">&#10004;</div>
                <div class="success-message">{{message}}</div>
              </div>
              <label for="rememberMe" class="text-900 text-xl font-medium mb-2">Enable 2FA (Two Factors Authentication)</label>
            </div>
            <button pButton pRipple label="Register"  class="w-full p-3 text-xl"></button>
            <a routerLink="/login" class="text-900 text-xl font-medium mt-3">Login</a>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>



<div class="container" *ngIf="authenticationResponse.mfaEnabled">
  <div class="success-message-panel">
    <div class="success-icon">&#10004;</div>
    <div class="success-message">Success message goes here</div>
  </div>

  <h2>Set Up Two-Factor Authentication</h2>
  <div class="qr-code">
    <img [src]="authenticationResponse.secretImageUri" alt="QR Code">
  </div>
  <div class="form-group">
    <label for="validationCode" class="block text-900 text-xl font-medium mb-2">Enter 6 digits Validation Code Generated by the app</label>
    <input type="text" id="validationCode" name="validationCode"
           [(ngModel)]="otpCode"
           required class="w-full md:w-30rem mb-5" style="padding:1rem">
  </div>
  <button type="button"
          (click)="verifyTfa()"
          [class.button-disabled]="otpCode.length<6"
          class="w-full p-3 text-xl">Verify code</button>
</div>
